<div class="nav">
  <div class="container">
    <div class="row borders bt-0">
      <!-- This shouldn't show on homepage, but everywhere else it should -->
      <div class="nav--logo">
        <a href="/">lacapella</a>
      </div>
      <div class="nav--main-nav">
        <div class="mobile-button">
          <span></span>
        </div>
        <ul>
          <li class="menu-item"><a href="/centre-dart">Centre d'art</a></li>
          <li class="menu-item menu-item--expanded">
            <a href="/">Programació</a>
            <span class="mobile-arrow"></span>
            <div class="wrapper-menu">
              <ul>
                <li><a href="/">Agenda</a></li>
                <li><a href="/">Exposicions</a></li>
                <li><a href="/">Projectes no expositius</a></li>
                <li><a href="/">Programa d'estudis</a></li>
                <li><a href="/">Mediació</a></li>
                <li><a href="/">Concéntric</a></li>
              </ul>
            </div>
          </li>
          <li class="menu-item"><a href="/">Espai W</a></li>
          <li class="menu-item menu-item--expanded">
            <a href="/">Publicaciones</a>
          </li>
          <li class="menu-item">
            <a href="/">
              <img src="/assets/search-icon.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
