<div class="nav">
  <div class="container">
    <div class="row justify-content-end borders bt-0">
      <div class="nav--main-nav">
        <div class="mobile-button">
          <span></span>
        </div>
        <ul>
          <li><a href="/page-one">Centre d'art</a></li>
          <li><a href="/">Programació</a></li>
          <li><a href="/">Espai W</a></li>
          <li><a href="/">Publicaciones</a></li>
          <li>
            <a href="/">
              <img src="assets/search-icon.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
