.home-top-slider .owl-carousel {
  position: relative;
}
.home-top-slider .owl-carousel .owl-dots {
  position: absolute;
  bottom: -40px;
}
.home-top-slider .owl-carousel .owl-dots button.owl-dot {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 8px;
}
.home-top-slider .owl-carousel .owl-dots button.owl-dot.active {
  background-color: #000;
}
.home-top-slider .owl-stage-outer {
  overflow: visible;
}
.home-top-slider .owl-stage-outer .owl-item.active {
  display: block;
}
.home-top-slider .slide--text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-right: 25px;
  position: relative;
}
.home-top-slider .slide__title {
  text-transform: uppercase;
  position: relative;
  display: block;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.home-top-slider .slide__author {
  text-transform: uppercase;
  display: block;
  height: 100%;
}
.home-top-slider .slide__footer {
  position: absolute;
  bottom: 0;
}

.marquee {
  margin: 8.5rem 0;
}
.marquee h1 {
  animation: scroll-x 10s linear infinite;
  width: 100%;
  white-space: nowrap;
  font-size: 140px;
}
.marquee .btn-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.destaquem-slider .row.borders {
  padding-bottom: 1.5rem;
}
.destaquem-slider .col-md-3 {
  display: flex;
  justify-content: flex-end;
}
.destaquem-slider .slide-wrapper .des-slide {
  width: 100%;
  padding: 5px;
  padding-right: 15px;
  margin-right: 1.5rem;
}
.destaquem-slider .slide-wrapper .des-slide:after {
  right: 5px;
  top: 5px;
  height: 95%;
}
.destaquem-slider .slide-wrapper .des-slide--img {
  position: relative;
  height: 250px;
  object-fit: cover;
}
.destaquem-slider .slide-wrapper .des-slide--tags {
  position: absolute;
  top: 10px;
  left: 8px;
}
.destaquem-slider .slide-wrapper .des-slide--tags span {
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px 7px;
  display: inline-block;
  border-radius: 8px;
  height: 20px;
  line-height: 1;
}
.destaquem-slider .slide-wrapper .des-slide--tags span:first-of-type {
  color: #000;
  background-color: #fff;
}
.destaquem-slider .slide-wrapper .des-slide--tags span:last-of-type {
  color: #fff;
  background-color: #000;
}
.destaquem-slider .slide-wrapper .des-slide--text {
  padding: 1rem 0 1.5rem 0;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}
.destaquem-slider .slide-wrapper .des-slide--text p {
  font-size: 24px;
  text-transform: uppercase;
}
.destaquem-slider .slide-wrapper .des-slide--footer {
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}
.destaquem-slider .slide-wrapper .des-slide--footer p {
  font-size: 18px;
  text-transform: uppercase;
}
.destaquem-slider .slide-wrapper:first-child .des-slide:before {
  content: "";
  border-right: 1px solid #000;
  left: 0;
  top: -10px;
  width: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
}

.slider-carousel {
  padding-top: 10px;
  margin-left: calc((100% - 1410px) / 2);
}

.two-panel-production {
  margin-top: 5rem;
}
.two-panel-production .row:last-of-type {
  padding: 2rem 20px;
}
.two-panel-production--text p {
  font-size: 22px;
  line-height: 28px;
}
.two-panel-production--text p:last-of-type {
  margin-top: 3rem;
}
.two-panel-production--image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.espai-w-two-panel .borders:before, .espai-w-two-panel .borders:after {
  border-color: #d9d9d9;
}
.espai-w-two-panel .borders:before {
  top: 0;
}
.espai-w-two-panel .borders:after {
  bottom: 0;
}
.espai-w-two-panel .top-row {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.espai-w-two-panel .top-row .col-md-3 {
  display: flex;
  justify-content: flex-end;
}
.espai-w-two-panel .row:last-of-type {
  padding: 1rem 20px 2rem 20px;
}
.espai-w-two-panel .row .col-md-6 {
  padding: 10px;
}
.espai-w-two-panel .row .col-md-6.br-only:after {
  top: 0;
}
.espai-w-two-panel--block__tags {
  margin-bottom: 3rem;
}
.espai-w-two-panel--block__tags span.type-tag {
  padding: 14px 12px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 5px;
}
.espai-w-two-panel--block__image {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.espai-w-two-panel--block__title p {
  font-size: 20px;
}
.espai-w-two-panel--block.second-block .espai-w-two-panel--block__tags,
.espai-w-two-panel--block.second-block .espai-w-two-panel--block__title {
  margin-left: 3rem;
}

.publications-three-panel .top-row {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.publications-three-panel .top-row .col-md-3 {
  display: flex;
  justify-content: flex-end;
}
.publications-three-panel .borders.top-row:before {
  top: 0;
}
.publications-three-panel--image {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.publications-three-panel--image img {
  max-width: 90%;
}
.publications-three-panel--text p {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}
.publications-three-panel .col-md-4.br-only:after {
  right: 0;
  top: 0;
}
.publications-three-panel .col-md-4.borders {
  padding: 1rem;
}

/*# sourceMappingURL=components.css.map */
