@charset "UTF-8";
.home-top-slider .owl-carousel {
  position: relative;
}
.home-top-slider .owl-carousel .owl-dots {
  position: absolute;
  bottom: -40px;
}
.home-top-slider .owl-carousel .owl-dots button.owl-dot {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 8px;
}
.home-top-slider .owl-carousel .owl-dots button.owl-dot.active {
  background-color: #000;
}
.home-top-slider .owl-stage-outer {
  overflow: visible;
}
.home-top-slider .owl-stage-outer .owl-item.active {
  display: block;
}
.home-top-slider .slide--text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-right: 25px;
  position: relative;
}
.home-top-slider .slide__title {
  text-transform: uppercase;
  position: relative;
  display: block;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.home-top-slider .slide__author {
  text-transform: uppercase;
  display: block;
  height: 100%;
}
.home-top-slider .slide__footer {
  position: absolute;
  bottom: 0;
}
.home-top-slider .slide .col-md-5 {
  padding-right: 2px;
}
.home-top-slider.project-header-image-left .col-md-7 {
  padding-left: 0;
}

.marquee {
  margin: 8.5rem 0;
}
.marquee h2 {
  animation: scroll-x 10s linear infinite;
  width: 100%;
  white-space: nowrap;
  font-size: 140px;
}
.marquee .btn-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.destaquem-slider {
  margin-bottom: 150px;
}
.destaquem-slider .title-row-destaquem {
  padding: 40px 0 20px 15px;
}
.destaquem-slider .row.borders {
  padding-bottom: 1.5rem;
}
.destaquem-slider .col-md-3 {
  display: flex;
  justify-content: flex-end;
}
.destaquem-slider .slide-wrapper .des-slide {
  width: 100%;
  padding: 5px;
  padding-right: 15px;
  margin-right: 1.5rem;
}
.destaquem-slider .slide-wrapper .des-slide:after {
  right: 5px;
  top: 5px;
  height: 95%;
}
.destaquem-slider .slide-wrapper .des-slide--img {
  position: relative;
  height: 250px;
  object-fit: cover;
}
.destaquem-slider .slide-wrapper .des-slide--tags {
  position: absolute;
  top: 10px;
  left: 8px;
}
.destaquem-slider .slide-wrapper .des-slide--tags span {
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px 7px;
  display: inline-block;
  border-radius: 8px;
  height: 20px;
  line-height: 1;
}
.destaquem-slider .slide-wrapper .des-slide--tags span:first-of-type {
  color: #000;
  background-color: #fff;
}
.destaquem-slider .slide-wrapper .des-slide--tags span:last-of-type {
  color: #fff;
  background-color: #000;
}
.destaquem-slider .slide-wrapper .des-slide--text {
  padding: 1rem 0 1.5rem 0;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}
.destaquem-slider .slide-wrapper .des-slide--text p {
  font-size: 24px;
  text-transform: uppercase;
}
.destaquem-slider .slide-wrapper .des-slide--footer {
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}
.destaquem-slider .slide-wrapper .des-slide--footer p {
  font-size: 18px;
  text-transform: uppercase;
}
.destaquem-slider .slide-wrapper:first-child .des-slide:before {
  content: "";
  border-right: 1px solid #000;
  left: 0;
  top: -10px;
  width: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
}

.slider-carousel {
  padding-top: 10px;
  margin-left: calc((100% - 1400px) / 2);
}

.two-panel-production .title-row-two-panel-production {
  padding: 40px 0 20px 15px;
}
.two-panel-production--text {
  padding-left: 15px;
  padding-top: 15px;
}
.two-panel-production--text p {
  font-size: 22px;
  line-height: 28px;
}
.two-panel-production--text p:last-of-type {
  margin-top: 1rem;
}
.two-panel-production--image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-panel-production .more-links {
  margin-bottom: 120px;
}
.two-panel-production .more-links h3 {
  font-size: 40px;
  padding: 20px 0;
}
.two-panel-production .more-links > h3 {
  padding-top: 0;
}
.two-panel-production .more-links .links {
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.two-panel-production .more-links .links > div {
  padding: 15px 10px;
}
.two-panel-production .more-links .links div:nth-child(6) {
  border-right: 0;
}

.espai-w-two-panel .borders:before, .espai-w-two-panel .borders:after {
  border-color: #d9d9d9;
}
.espai-w-two-panel .borders:before {
  top: 0;
}
.espai-w-two-panel .borders:after {
  bottom: 0;
}
.espai-w-two-panel .top-row {
  padding: 40px 0 20px 15px;
}
.espai-w-two-panel .top-row .col-md-3 {
  display: flex;
  justify-content: flex-end;
}
.espai-w-two-panel .row:last-of-type {
  padding: 1rem 20px 2rem 20px;
}
.espai-w-two-panel .row .col-md-6 {
  padding: 10px;
}
.espai-w-two-panel .row .col-md-6.br-only:after {
  top: 0;
}
.espai-w-two-panel--block__tags {
  margin-bottom: 3rem;
}
.espai-w-two-panel--block__tags span.type-tag {
  padding: 14px 12px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 5px;
}
.espai-w-two-panel--block__image {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.espai-w-two-panel--block__title p {
  font-size: 20px;
}
.espai-w-two-panel--block.second-block .espai-w-two-panel--block__tags,
.espai-w-two-panel--block.second-block .espai-w-two-panel--block__title {
  margin-left: 3rem;
}
.espai-w-two-panel.list-espais-w .row:last-of-type {
  padding: 0;
}
.espai-w-two-panel.list-espais-w .item {
  border: 1px solid #000;
  border-bottom: 0;
  position: relative;
}
.espai-w-two-panel.list-espais-w .item > div {
  padding: 20px;
}
.espai-w-two-panel.list-espais-w .item:before {
  content: "";
  width: calc(100% + 5px);
  border-left: 10px solid #d9d9d9;
  border-right: 10px solid #d9d9d9;
  height: 15px;
  top: -2px;
  left: -2px;
  position: absolute;
  display: block;
}
.espai-w-two-panel.list-espais-w .item:after {
  content: "";
  width: calc(100% + 5px);
  border-left: 10px solid #d9d9d9;
  border-right: 10px solid #d9d9d9;
  height: 15px;
  bottom: -2px;
  left: -2px;
  position: absolute;
  display: block;
}
.espai-w-two-panel.list-espais-w .item:nth-child(even) {
  border-left: 0;
}
.espai-w-two-panel.list-espais-w .filters {
  margin-top: -10px;
  padding: 10px;
  width: 100%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.espai-w-two-panel.list-espais-w .filters form {
  padding: 10px;
  border-top: 1px solid #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.espai-w-two-panel.list-espais-w .filters form .form-item {
  display: flex;
}
.espai-w-two-panel.list-espais-w .filters form .form-item > div {
  margin: 10px;
}

.publications-three-panel .top-row {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.publications-three-panel .top-row .col-md-3 {
  display: flex;
  justify-content: flex-end;
}
.publications-three-panel .borders.top-row:before {
  top: 0;
}
.publications-three-panel--image {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.publications-three-panel--image img {
  max-width: 90%;
}
.publications-three-panel--text p {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}
.publications-three-panel .col-md-4.br-only:after {
  right: 0;
  top: 0;
}
.publications-three-panel .col-md-4.borders {
  padding: 1rem;
}

.hero-inner {
  margin-bottom: 200px;
}
.hero-inner.no-image {
  margin-bottom: 0px;
}
.hero-inner .row-text-hero-inner {
  margin-bottom: 30px;
}
.hero-inner p {
  padding: 10px 10px 20px 20px;
  font-size: 28px;
  line-height: 36px;
}
.hero-inner .links {
  margin-top: 5px;
  display: flex;
  width: 100%;
}
.hero-inner .links > div {
  flex: 1;
}
.hero-inner .links > div a {
  padding: 0 10px 20px 15px;
  display: inline-block;
  font-size: 40px;
  min-height: 160px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hero-inner .links > div:last-child {
  border-right: 0;
}

.highlight-two-cols .item-highlight:nth-child(odd) > div:first-child {
  order: 1;
}
.highlight-two-cols .item-highlight:nth-child(odd) > div:nth-child(2) {
  order: 0;
}

.article-content .border-wrapper {
  margin-right: -15px;
  margin-left: -15px;
}
.article-content .tags-and-socials {
  margin-bottom: 1rem;
}
.article-content .tags-and-socials .col {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.article-content .tags-and-socials .col ul {
  height: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}
.article-content .tags-and-socials .tags-col {
  flex-grow: 11;
}
.article-content .tags-and-socials .tags-col ul {
  display: flex;
  padding-left: 1rem;
  flex-wrap: wrap;
  position: relative;
}
.article-content .tags-and-socials .tags-col ul li a {
  background: #f8f7f5;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 5px 8px;
}
.article-content .tags-and-socials .tags-col ul:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #000;
  right: -15px;
  top: -10px;
}
.article-content .tags-and-socials .socials-col {
  flex-grow: 1;
}
.article-content .tags-and-socials .socials-col ul li {
  margin-bottom: 3px;
}
.article-content--downloads {
  padding-left: 1rem;
  margin-bottom: 3rem;
}
.article-content--downloads li a {
  font-size: 26px;
  display: inline-block;
  background-image: url(../assets/descarga-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: 22px;
  padding-left: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.article-content--main {
  padding: 3rem 0;
}
.article-content--main p, .article-content--main a, .article-content--main li, .article-content--main span, .article-content--main h5 {
  font-size: 28px;
  line-height: 36px;
}
.article-content--main em, .article-content--main a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.article-content--main a {
  text-decoration: underline;
}
.article-content--main p, .article-content--main h5, .article-content--main ul {
  margin-bottom: 2rem;
}
.article-content--main h5 {
  text-transform: uppercase;
}
.article-content--main h5:before {
  content: "●";
  padding-right: 1rem;
}
.article-content--main h5 span {
  padding-left: 38px;
}
.article-content--main ul {
  list-style: disc;
  padding-left: 40px;
}
.article-content--sponsors .logos {
  display: flex;
  flex-wrap: wrap;
}
.article-content--sponsors .logos img {
  padding: 10px;
}
.article-content--sponsors .logos img:first-of-type {
  padding-left: 0;
}

.article-images .col-md-3, .article-videos .col-md-3 {
  justify-content: flex-end;
  display: flex;
}
.article-images h3, .article-videos h3 {
  text-transform: uppercase;
  font-size: 45px;
  padding: 5px 0;
}
.article-images .row.borders, .article-videos .row.borders {
  align-items: center;
}
.article-images .row.borders.opened, .article-videos .row.borders.opened {
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-bottom: 0;
}
.article-images--row, .article-videos--row {
  padding-left: 15px;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 5rem;
}
.article-images--row.closed, .article-videos--row.closed {
  display: none;
}
.article-images--image, .article-videos--image {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  margin-right: 10px;
  padding-right: 5px;
  position: relative;
  padding-bottom: 5rem;
}
.article-images--image img, .article-videos--image img {
  margin-bottom: 8px;
}
.article-images--image p, .article-videos--image p {
  width: 75%;
  position: absolute;
}

.article-related h3 {
  text-transform: uppercase;
  font-size: 45px;
  padding: 5px 0;
}
.article-related .row.borders {
  padding-bottom: 10px;
}

/*# sourceMappingURL=components.css.map */
