body {
  color: #000;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  display: none;
}

.bg-grey {
  background: #d9d9d9;
}
.bg-grey .borders:before, .bg-grey .borders:after {
  border-color: #d9d9d9 !important;
}
.bg-grey input {
  background-color: #d9d9d9;
}
.bg-grey .nav--main-nav .wrapper-menu {
  background-color: #d9d9d9;
}
.bg-grey #breadcrumb ol li a {
  background-color: #fff;
}
.bg-grey #breadcrumb ol li:last-child a {
  background-color: #000;
}

.borders {
  border: 1px solid #000;
  padding: 10px;
  position: relative;
}
.borders:before {
  content: "";
  width: calc(100% + 5px);
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  height: 15px;
  top: -2px;
  left: -2px;
  position: absolute;
  display: block;
}
.borders:after {
  content: "";
  width: calc(100% + 5px);
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  height: 15px;
  bottom: -2px;
  left: -2px;
  position: absolute;
  display: block;
}
.borders.bt-0 {
  border-top: 0;
}
.borders.br-0 {
  border-right: 0;
}
.borders.bb-0 {
  border-bottom: 0;
}
.borders.bl-0 {
  border-left: 0;
}

.br-only {
  position: relative;
  padding: 10px;
}
.br-only:after {
  content: "";
  border-right: 1px solid #000;
  right: -23px;
  top: -10px;
  width: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
}
.btn.btn-primary {
  padding: 12px 10px 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  color: #fff;
  background-color: #000;
}

.btn-wrapper.primary-wrapper a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  padding: 12px 10px 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}
.btn-wrapper.primary-wrapper a:hover, .btn-wrapper.primary-wrapper a:focus {
  color: #fff;
  background-color: #000;
}

.toggle-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.toggle-btn span {
  font-size: 20px;
  font-family: "m-bold";
}
.toggle-btn img {
  padding-left: 5px;
  transform: rotate(45deg);
  transition: 0.15s ease-in-out transform;
}
.toggle-btn.open img {
  transform: rotate(0);
}

.plus-btn {
  font-size: 20px;
  line-height: 22px;
  margin-right: 20px;
  margin-top: 5px;
}
.plus-btn a {
  background-image: url("../assets/cross-btn.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
.plus-btn.no-text {
  height: 80px;
  width: 80px;
}
.plus-btn.big a {
  padding-right: 60px;
}
.plus-btn.medium {
  padding-right: 50px;
}
.plus-btn.small a {
  padding: 40px 80px 40px 0;
  background-size: 60px 60px;
}
.plus-btn.small a:hover {
  background-image: url("../assets/corss-btn-hover.svg");
}

.page-title h1 {
  font-size: 160px;
  text-transform: uppercase;
}

.nav .is-active {
  color: #ff4040 !important;
}
.nav .row {
  justify-content: space-between;
  align-items: center;
}
.nav ul:not(.contextual-links) {
  display: flex;
  align-items: center;
}
.nav ul:not(.contextual-links).dropdown {
  display: none;
}
.nav ul:not(.contextual-links) li {
  list-style: none;
}
.nav ul:not(.contextual-links) li a {
  font-size: 22px;
  letter-spacing: 1.4px;
  text-decoration: none;
}
.nav ul:not(.contextual-links) li.dd {
  position: relative;
  border-top: 1px solid transparent;
}
.nav ul:not(.contextual-links) li.dd:hover ul.dropdown {
  display: block;
  position: absolute;
  left: -1px;
  background-color: #fff;
  padding-left: 0;
  top: 28px;
  z-index: 90;
}
.nav ul:not(.contextual-links) li.dd:hover ul.dropdown li {
  border-right: none;
  width: 100%;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
.nav ul:not(.contextual-links) li.dd:hover:after {
  z-index: 100;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 1px;
  top: 28px;
  content: "";
  left: 0px;
}
.nav--logo {
  padding: 10px;
}
.nav--logo a {
  text-transform: uppercase;
  font-size: 40px;
}
.nav--main-nav {
  padding: 10px;
}
.nav--main-nav .mobile-button {
  display: none;
}
.nav--main-nav li {
  margin-right: 3rem;
}
.nav--main-nav li:last-child {
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}
.nav--main-nav .wrapper-menu {
  padding: 15px 0 15px 38px;
  display: none;
  position: absolute;
  top: 75px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  z-index: 10;
  background-color: #fff;
  width: calc(100% + 2px);
  left: -1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav--main-nav .wrapper-menu.open-desktop {
  display: block;
}

#breadcrumb ol {
  padding: 1rem 0;
  display: flex;
}
#breadcrumb ol li,
#breadcrumb ol a {
  font-size: 16px;
}
#breadcrumb ol li {
  padding-right: 8px;
}
#breadcrumb ol li:last-child a {
  color: #fff;
  background: #8c8c8c;
}
#breadcrumb ol li:last-child:after {
  padding-left: 6px;
  font-size: 16px;
}
#breadcrumb ol li a {
  background-color: #dedede;
  border-radius: 12px;
  padding: 5px 8px;
  color: #707070;
}

.selectric {
  background-color: #fff;
}
.selectric .label {
  color: #2e2e2e;
  margin: 0 20px 0 10px;
}
.selectric .button {
  width: 25px;
  background-color: #fff;
}
.selectric-items {
  border: 1px solid #2e2e2e;
  border-top: none;
}
.selectric-items ul {
  display: block !important;
}
.selectric-items li {
  color: #2e2e2e;
  background-color: #fff;
}
.selectric-items li.highlighted {
  color: #2e2e2e;
  background-color: #ceedde;
}
.selectric-items li:hover {
  background-color: #f2f6f5;
  color: #2e2e2e;
}
.selectric-open .selectric {
  border-bottom: none;
  border-color: #2e2e2e;
}

footer {
  padding: 2rem 0;
  margin-top: 7rem;
}
footer h3 {
  text-transform: uppercase;
}
footer h5 {
  font-size: 20px;
  margin-bottom: 1.5rem;
}
footer p {
  margin-bottom: 8px;
}
footer .bl-special {
  border-left: 1px solid #000;
  margin-top: 15px;
  border-right: 1px solid #000;
}
footer .col-md-6 {
  border-bottom: 0;
}
footer .col-md-6:first-of-type {
  display: flex;
  align-items: flex-end;
}
footer .col-md-6:first-of-type h3 {
  padding: 1rem;
}
footer .col-md-6:last-of-type h3 {
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  width: 94%;
}
footer .col-md-6:last-of-type h3:after {
  right: -8%;
  top: -8px;
}
footer .col-md-3 {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer .col-md-3:not(:last-of-type) {
  border-right: 1px solid #000;
}
footer .col-md-3:before {
  content: "";
  width: 90%;
  height: 0;
  border-top: 1px solid #000;
  top: -10px;
  left: 5%;
  position: absolute;
}
footer .form form {
  display: flex;
  flex-wrap: wrap;
}
footer .form form > div {
  width: 50%;
}
footer .form form > div input {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 28px;
  color: #7c7c7c;
}
footer .form form > div input.form-submit {
  background: transparent;
  text-align: left;
  color: #000;
}
footer .form form > div:nth-of-type(odd) {
  position: relative;
}
footer .form form > div:nth-of-type(odd):after {
  content: "";
  border-right: 1px solid #000;
  right: 0px;
  top: 0;
  width: 0;
  bottom: 0;
  height: 65%;
  position: absolute;
}
footer .form form > div:nth-of-type(even) {
  width: 45%;
  margin-left: 1.5rem;
}
footer .form form > div.accept-legal-conditions {
  display: flex;
  align-items: center;
}
footer .form form > div.accept-legal-conditions .description {
  width: 80%;
  padding-left: 1rem;
  color: #7c7c7c;
  font-size: 14px;
}
footer .form form > div.accept-legal-conditions input {
  width: auto;
}
footer .form:after {
  right: -10px;
  top: 0px;
}
footer .footer-links {
  margin: 2rem 0 1rem 0;
}
footer .footer-links ul {
  display: flex;
}
footer .footer-links ul li {
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}
footer .footer-links ul li:not(:last-child) {
  border-right: 1px solid #000;
}

.views-exposed-form {
  display: none;
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 130;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.views-exposed-form form {
  min-width: 600px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  display: flex;
}
.views-exposed-form form label {
  display: none;
}
.views-exposed-form form .form-actions {
  width: 80px;
}
.views-exposed-form form .form-item {
  width: calc(100% - 80px);
}
.views-exposed-form form input[type=text] {
  padding: 10px;
  width: 100%;
  border: 0;
}
.views-exposed-form form input[type=submit] {
  border: 0;
  padding: 10px;
  background-color: #fff;
}
.views-exposed-form #close-form {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  cursor: pointer;
}
.views-exposed-form.show-form {
  display: flex;
}

/*# sourceMappingURL=global.css.map */
