@media screen and (max-width: 991px) {
  html,
body {
    overflow-x: hidden;
  }

  h1,
.page-title h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  .br-only:after {
    right: 5px;
    top: -8px;
  }

  .content p,
.content ul > li,
.content ol > li {
    font-size: 16px;
  }
  .content ul,
.content ol {
    padding-left: 10px;
  }

  #breadcrumb {
    border-top: 2px solid #2e2e2e;
  }
  #breadcrumb ol {
    padding: 0.85rem 0;
  }

  .nav {
    padding: 2rem 0 1rem 0;
    border-bottom: none;
    position: relative;
  }
  .nav .container {
    display: flex;
    align-items: flex-start;
  }
  .nav .container img {
    max-width: 235px;
    padding-top: 8px;
  }
  .nav--lang-nav {
    display: none;
  }
  .nav--main-nav .mobile-button {
    background-color: #fff;
    z-index: 700;
    border: 1px solid #2e2e2e;
    width: 44px;
    height: 35px;
    margin-left: 3.5rem;
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: -5px;
    padding: 1.5rem 1.85rem;
  }
  .nav--main-nav .mobile-button span {
    height: 3px;
    width: 26px;
    background-color: #2e2e2e;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .nav--main-nav .mobile-button span:before, .nav--main-nav .mobile-button span:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #2e2e2e;
    width: 26px;
    left: 0;
    transition: 0.25s ease-in-out;
  }
  .nav--main-nav .mobile-button span:before {
    top: -10px;
  }
  .nav--main-nav .mobile-button span:after {
    bottom: -10px;
  }
  .nav--main-nav .mobile-button.open {
    padding: 1.32rem 1.85rem;
    border-bottom: none;
  }
  .nav--main-nav .mobile-button.open span {
    opacity: 1;
    top: 23px;
    height: 3px;
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -o-transform: rotate(132deg);
    transform: rotate(132deg);
  }
  .nav--main-nav .mobile-button.open span:before {
    opacity: 0;
    right: -60px;
  }
  .nav--main-nav .mobile-button.open span:after {
    content: "";
    opacity: 1;
    top: 0px;
    bottom: unset;
    height: 3px;
    -webkit-transform: rotate(-85deg);
    -moz-transform: rotate(-85deg);
    -o-transform: rotate(-85deg);
    transform: rotate(-85deg);
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown) {
    flex-direction: column;
    height: 0;
    visibility: hidden;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown) li {
    border-right: none;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show {
    display: flex;
    height: auto;
    visibility: visible;
    border: 1px solid #2e2e2e;
    width: 336px;
    position: absolute;
    left: 0px;
    margin: 0 1rem;
    z-index: 500;
    background: #fff;
    top: 69px;
    padding: 1rem;
    box-shadow: 12px 12px #2e2e2e;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show li {
    margin: 10px 0;
    position: relative;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show li:before {
    content: ">";
    position: absolute;
    left: 10px;
    font-family: "HN Bold";
    transition: 0.15s ease-in-out transform;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show li > a {
    font-size: 18px;
    font-family: "HN Bold";
    padding-left: 1rem;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show li.dd:hover {
    box-shadow: none;
    border-top: none;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show li.dd.open {
    box-shadow: none;
    border-top: none;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show li.dd.open:before {
    transform: rotate(90deg);
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show ul.dropdown:not(.contextual-links) {
    display: none;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show ul.dropdown:not(.contextual-links) li a {
    font-size: 16px;
    font-family: "HN Roman";
    padding-left: 5px;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show ul.dropdown:not(.contextual-links) li:before {
    content: "";
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show ul.dropdown:not(.contextual-links) li:last-of-type {
    margin-bottom: 0;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show ul.dropdown:not(.contextual-links).show {
    display: flex;
    flex-direction: column;
    position: static;
    margin-left: 0;
    border: none;
    background: transparent;
    box-shadow: none;
    position: static;
    border: none;
    background: transparent;
    box-shadow: none;
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    margin-top: 10px;
  }
  .nav--main-nav ul:not(.contextual-links):not(.dropdown).show ul.dropdown:not(.contextual-links).show li:last-of-type {
    padding-bottom: 0;
  }

  footer .contact-info {
    padding-top: 0;
    padding-bottom: 3rem;
  }

  .home-top-slider {
    height: auto;
    margin-bottom: 1.5rem;
  }
  .home-top-slider .owl-carousel {
    height: auto;
  }
  .home-top-slider .owl-carousel .owl-stage-outer {
    overflow: visible;
  }
  .home-top-slider .owl-carousel .owl-nav {
    top: 75px;
  }
  .home-top-slider .owl-carousel .owl-dots {
    bottom: -45px;
  }
  .home-top-slider .slide .col-md-7 {
    padding-right: 10px;
  }
  .home-top-slider .slide .br-only:after {
    right: 0;
  }
  .home-top-slider .slide--text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .home-top-slider .slide__title, .home-top-slider .slide__author {
    font-size: 30px;
  }
  .home-top-slider .slide__author {
    margin-bottom: 1rem;
  }
  .home-top-slider .slide__footer {
    left: 20px;
  }

  .marquee {
    margin: 6.5rem;
  }
  .marquee h1 {
    font-size: 50px;
  }

  .slider-carousel {
    margin-left: 5px;
  }

  .destaquem-slider .col-md-3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .destaquem-slider .slide-wrapper .des-slide {
    padding: 5px 15px;
  }
  .destaquem-slider .slide-wrapper .des-slide:after {
    right: 2.5px;
  }

  footer .form form > div {
    width: 100%;
  }
  footer .form form > div:nth-of-type(even) {
    width: 100%;
    margin-left: 0;
  }
  footer .col-md-3:not(:last-of-type) {
    border-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav .container {
    justify-content: space-between;
  }
  .nav .container .row:first-of-type {
    display: none;
  }
  .nav--main-nav ul:not(.contextual-links).show {
    width: 700px;
    left: 28px;
    top: 68px;
  }
}

/*# sourceMappingURL=media-queries.css.map */
