<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 borders bt-0">
        <h3>Visita'ns</h3>
      </div>
      <div class="col-md-6 borders bt-0 br-0">
        <h3 class="br-only">butlletí</h3>
        <div class="form br-only">
          <form
            class="webform-submission-form webform-submission-add-form webform-submission-contact-form webform-submission-contact-add-form js-webform-details-toggle webform-details-toggle"
            data-drupal-selector="webform-submission-contact-add-form"
            action="/ca/plus-info"
            method="post"
            id="webform-submission-contact-add-form"
            accept-charset="UTF-8"
          >
            <div
              class="js-webform-tooltip-element webform-tooltip-element js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-first-name form-item-first-name form-no-label"
            >
              <label
                for="edit-first-name"
                class="visually-hidden js-form-required form-required"
                >NOMBRE</label
              >
              <input
                data-drupal-selector="edit-first-name"
                type="text"
                id="edit-first-name"
                name="first_name"
                value=""
                size="60"
                maxlength="255"
                placeholder="Nom i cognom"
                class="form-text required"
                required="required"
                aria-required="true"
              />
            </div>
            <div
              class="js-webform-tooltip-element webform-tooltip-element js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email form-no-label"
            >
              <label
                for="edit-email"
                class="visually-hidden js-form-required form-required"
                >E-mail</label
              >
              <input
                data-drupal-selector="edit-email"
                type="email"
                id="edit-email"
                name="email"
                value=""
                size="60"
                maxlength="254"
                placeholder="E-MAIL"
                class="form-email required"
                required="required"
                aria-required="true"
              />
            </div>
            <div
              class="accept-legal-conditions js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-accept-legal-conditions- form-item-accept-legal-conditions- form-no-label"
            >
              <label
                for="edit-accept-legal-conditions-"
                class="visually-hidden js-form-required form-required"
                >Accept legal conditions
              </label>
              <input
                data-drupal-selector="edit-accept-legal-conditions-"
                aria-describedby="edit-accept-legal-conditions---description"
                type="checkbox"
                id="edit-accept-legal-conditions-"
                name="accept_legal_conditions_"
                value="1"
                class="form-checkbox required"
                required="required"
                aria-required="true"
              />

              <div class="description">
                <div
                  id="edit-accept-legal-conditions---description"
                  class="webform-element-description"
                >
                  <strong
                    id="docs-internal-guid-9b841f90-aeda-fe0a-c854-c2ca5dbe850e"
                    >He llegit i accepto la
                    <em>Política de Privacitat de Dades</em></strong
                  >
                </div>
              </div>
            </div>
            <div
              data-drupal-selector="edit-actions"
              class="form-actions webform-actions js-form-wrapper form-wrapper"
              id="edit-actions"
            >
              <input
                class="webform-button--submit button button--primary js-form-submit form-submit"
                data-drupal-selector="edit-actions-submit"
                type="submit"
                id="edit-actions-submit"
                name="op"
                value="Enviar"
              />
            </div>
            <input
              autocomplete="off"
              data-drupal-selector="form-l6i0diltzyz-5t-vygiwlre4pvzvbzgjwm8bfqebxoi"
              type="hidden"
              name="form_build_id"
              value="form-L6I0DilTZyz_5t_vyGiwlre4PVZVBzgJwm8BfqeBxoI"
            />
            <input
              data-drupal-selector="edit-webform-submission-contact-add-form"
              type="hidden"
              name="form_id"
              value="webform_submission_contact_add_form"
            />
            <div
              class="url-textfield js-form-wrapper form-wrapper"
              style="display: none !important"
            >
              <input
                autocomplete="off"
                data-drupal-selector="edit-url"
                type="text"
                id="edit-url"
                name="url"
                value=""
                size="20"
                maxlength="128"
                class="form-text"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row bl-special">
      <div class="col-md-3">
        <p>Contacte</p>
        <p>
          Hospital, 56<br />
          08001 Barcelona<br />
          Planol<br />
        </p>
        <p>932 562 044 932 562 042 lacapella[at]bcn.cat</p>
      </div>
      <div class="col-md-3">
        <p>Contacte</p>
        <p>
          Hospital, 56<br />
          08001 Barcelona<br />
          Planol<br />
        </p>
        <p>932 562 044 932 562 042 lacapella[at]bcn.cat</p>
      </div>
      <div class="col-md-3">
        <p>Contacte</p>
        <p>
          Hospital, 56<br />
          08001 Barcelona<br />
          Planol<br />
        </p>
        <p>932 562 044 932 562 042 lacapella[at]bcn.cat</p>
      </div>
      <div class="col-md-3">
        <p>Contacte</p>
        <p>
          Hospital, 56<br />
          08001 Barcelona<br />
          Planol<br />
        </p>
        <p>932 562 044 932 562 042 lacapella[at]bcn.cat</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-links">
          <ul>
            <li>
              <a href="/">Ajuntament de Barcelona</a>
            </li>
            <li>
              <a href="/">Institut de Cultura</a>
            </li>
            <li>
              <a href="/">Consultas</a>
            </li>
            <li>
              <a href="/">Suggeriments</a>
            </li>
            <li>
              <a href="/">Accessibilitat</a>
            </li>
            <li>
              <a href="/">Avís legal</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
