<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="/">
          <img src="/assets/logo_footer-v2.svg" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>Contacta:</h5>
        <p>
          Universitat de Barcelona<br />Gran Via de les Corts Catalanes 585<br />08007
          Barcelona
        </p>
      </div>
      <div class="col-md-4">
        <div class="contact-info">
          <div class="mail-link">
            <a href="mailto:info@campusdelesarts.org"
              >info@campusdelesarts.org</a
            >
          </div>
          <div class="tel-link">
            <a href="mailto:info@campusdelesarts.org"> Tel. +34 93 4020518</a>
          </div>
          <div class="tweet-link">
            <a href="https://twitter.com/campusarts_cat">campusarts_cat</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Coordinació:</h5>
        <div class="ub-logo">
          <a href="https://www.ub.edu/web/portal/ca/" target="_blank">
            <img src="/assets/ub-logo.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="footer-links">
          <ul>
            <li>
              <a href="/">Avis Legal</a>
            </li>
            <li>
              <a href="/">Politica de Galetes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
