<div class="views-exposed-form" data-drupal-selector="views-exposed-form-search-page-1" id="block-exposedformsearchpage-1-2">
    <div id="close-form">X</div>
      <form  id="views-exposed-form-search-page-1" accept-charset="UTF-8">
  <div class="borders js-form-item form-item js-form-type-textfield form-item-search-api-fulltext js-form-item-search-api-fulltext">
      <label for="edit-search-api-fulltext">Fulltext search</label>
        <input data-drupal-selector="edit-search-api-fulltext" type="text" id="edit-search-api-fulltext" name="search_api_fulltext" value="" size="30" maxlength="128" class="form-text" placeholder="cerca">
        </div>
<div data-drupal-selector="edit-actions" class="borders bl-0 form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Enviar" class="button js-form-submit form-submit">
</div>
</form>
</div>