<div class="article-images">
<div class="container">
<div class="row borders bt-0 opened">
<div class="col-md-9">
<h3>ImaTGES</h3>
</div>
<div class="col-md-3">
<button class="toggle-btn open toggle-images-btn"><span class="text">Tancar</span> <img src="/assets/toggle-btn-img.svg" alt=""></button>
</div>
</div>
</div>
<div class="article-images--row toggle-images open">
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/article-img-1.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/article-img-2.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/article-img-3.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/des-slide-1.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
</div>
</div>