<div class="article-content">
<div class="container">
<div class="border-wrapper borders bt-0">
{% include 'paragraphs/tags-and-socials.njk' %} {% include
'paragraphs/article-downloads.njk' %}
<div class="article-content--main">
<div class="row justify-content-center">
<div class="col-md-8">
<p>
<em><a>Fira What the Cell!</a></em> és l’acció de tancament del projecte de Teresa
Rubio <a>What the Cell! Una mirada macro a la unitat de la vida</a>, que,
inspirat en la unitat de vida més petita que existeix, articula el
programa educatiu i de mediació de Barcelona Producció 2021-2022.
</p>
<p>
El 12 i 13 de maig, de 18 a 21 h, a La Capella de Barcelona, celebrem
la Fira What the Cell!, dos dies de trobades dedicades a compartir
remeis i relats i a degustar juntes experiències simbiòtiques i de
relació entre art i salut, per tal de fer circular i expandir els seus
efectes. Volem “posar remei” i generar “remeis casolans”, amb la
intenció de buscar solucions des d’altres lògiques d’intercanvi i
vivències encarnades, dels sabers “altres” arrelats en allò popular,
ocult o femení, així com en plantejaments més holístics o sistèmics
que aporten visions més integrades de la vida.
</p>
<p>
La Fira es dirigeix a tot l’ecosistema artístic i sanitari, social,
educatiu i associatiu vinculat a la convocatòria de Barcelona
Producció 2021-2022, al context del Raval i a la ciutat de Barcelona,
interessat a fer el tastet de les relacions entre art i salut des
d’una perspectiva enfocada en les cures, la pràctica i la
transformació dels sistemes que generen la vida i els seus
funcionaments.
</p>
<h5>Estructura i programa</h5>
<p>
Cada dia la Fira consta de dues sessions: una primera sessió en format
taula de presentació i xerrada i una segona sessió més pràctica que
inclou l’experimentació corporal o un taller de creació. Diferents
professionals de l’ecosistema artístic (artistes, educadores,
mediadores, comissàries, gestores i centres culturals) i de l’àmbit de
la salut (estudi dels bacteris, medicina xinesa, bioenergètica i
medicina tradicional) apunten experiències i projectes tant de dins
com de fora del context català i són convidades a respondre, des d’on
desenvolupen les seves pràctiques, les mateixes preguntes que ha
plantejat el projecte What the Cell! des de l’inici: què ens manté
vius?, com se sosté la vida?, pot l’art millorar la salut d’un lloc?
</p>
<h5>PROGRAMA FIRA WHAT THE CELL!<br /><span>DIJOUS 12 DE MAIG — De 18 a 19 h</span>
</h5>
<p>
Presentació i xerrada amb Roser Sanjuan (historiadora de l’art,
investigadora, comissària i responsable de programes públics del
Centre d’Art la Panera) / Alba Colomo (treballadora cultural,
cofundadora de l’espai in(ter)dependent La Sala i directora de La
Escocesa) / Nancy Garín i Linda Valdés, d’Equipo re (entre altres
iniciatives, han activat el grup d’estudi Espantando el mal sobre
farmacologització i malestar contemporani).
</p>
<ul>
<li>Accés lliure.</li>
<li>Descans (15 minuts)</li>
</ul>
</div>
</div>
</div>
{% include 'paragraphs/article-sponsors.njk' %}
</div>
</div>
</div>
