<div class="article-content--downloads">
  <div class="row">
    <div class="col">
      <ul>
        <li>
          <a href="/"
            >Conversa Vicky Benítez, Christian Alonso, Recomposicions
            maquíniques (2019)</a
          >
        </li>
        <li>
          <a href="/">Christian Alonso, "Placing life at the centre" (2018)</a>
        </li>
        <li>
          <a href="/">Melitopoulos, Lazzarato, "Machinic Animism" (2010)</a>
        </li>
      </ul>
    </div>
  </div>
</div>
