<div class="article-content--sponsors">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-3">
<p>Amb el suport de:</p>
<div class="logos">
    <img src="/assets/logo-1.svg" alt="">
</div>
</div>
<div class="col-md-6">
<p>Amb la col · laboració de:</p>
<div class="logos">
    <img src="/assets/logo-2.svg" alt="">
    <img src="/assets/logo-3.svg" alt="">
    <img src="/assets/logo-4.svg" alt="">
    <img src="/assets/logo-5.svg" alt="">
    <img src="/assets/logo-6.svg" alt="">
</div>
</div>
</div>
</div>