<div class="article-videos">
    <div class="container">
        <div class="row borders bt-0">
        <div class="col-md-9">
        <h3>Videos</h3>
      </div>
      <div class="col-md-3">
        <a href="/" class="toggle-btn">Obrir</a>
      </div>
        </div>
    </div>
</div>