<div class="article-videos">
    <div class="container">
        <div class="row borders bt-0">
        <div class="col-md-9">
        <h3>Videos</h3>
      </div>
      <div class="col-md-3">
        <button class="toggle-btn toggle-videos-btn"><span class="text">Obrir</span> <img src="/assets/toggle-btn-img.svg" alt=""></button>
      </div>
        </div>
    </div>
    <div class="article-images--row toggle-videos closed">
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/article-img-1.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/article-img-2.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/article-img-3.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
<div class="article-images--image">
<div class="image-wrapper">
<img src="/assets/des-slide-1.jpg" alt="">
</div>
<p>Presentació dels projectes editorials Cultivar una sensibilitat multiespècie. </p>
</div>
</div>
</div>