<div class="big-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-title">
        <h2>La comunitat</h2>
      </div>
      <div class="col-lg-7 col-text">
        <p>
        La Capella és una base de dades d’artistes, comissaris i professionals que han participat a La Capella durant aquests vint-i-cinc anys de trajectòria i que està permanentment en construcció. 
        </p>
        <div class="plus-btn big with-text">
          <a href="/"></a><span>Veure més</span>
        </div>
      </div>
    </div>
  </div>
</div>