<div class="destaquem-slider">
  <div class="container">
    <div class="row borders bt-0 title-row-destaquem">
      <div class="col-md-9">
        <h3>DESTAQUEM</h3>
      </div>
      <div class="col-md-3">
        <div class="plus-btn small">
          <a href="/"> Veure tot</a>
        </div>
      </div>
    </div>
    </div>
    <div class="slider-carousel bt-0 bb-0 br-0">
      <div class="des-carousel">
        <div class="slide-wrapper">
          <div class="des-slide br-only">
            <a href="/">
              <div class="des-slide--img">
                <img src="/assets/des-slide-1.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="slide-wrapper">
          <div class="des-slide br-only">
            <a href="/">
              <div class="des-slide--img">
                <img src="/assets/des-slide-2.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="slide-wrapper">
          <div class="des-slide br-only">
            <a href="/">
              <div class="des-slide--img">
                <img src="/assets/des-slide-3.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="slide-wrapper">
          <div class="des-slide br-only">
            <a href="/">
              <div class="des-slide--img">
                <img src="/assets/des-slide-4.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
        </div>
        <div class="slide-wrapper">
          <div class="des-slide br-only">
            <a href="/">
              <div class="des-slide--img">
                <img src="/assets/des-slide-5.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
