<div class="espai-w-two-panel list-espais-w">
  <div class="container">
    <div class="row">
      <div class="filters">
        <form action="">
          <div class="form-item form-radios">
            <div>
              <label class="custom-radio">Tot
                <input type="radio" checked="checked" name="filter">
                <span class="checkmark"></span>
              </label>
            </div>
            <div>
              <label class="custom-radio">Texto
                <input type="radio" checked="checked" name="filter">
                <span class="checkmark"></span>
              </label>
            </div>
           <div>
              <label class="custom-radio">Entrevista
                <input type="radio" checked="checked" name="filter">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="custom-select">
            <select name="select">
              <option value="value1" selected>2023</option>
              <option value="value2">2022</option>
              <option value="value3">2021</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="row bt-0">
      <div class="col-md-6 item">
        <div class="espai-w-two-panel--block">
          <div class="espai-w-two-panel--block__tags">
            <span class="type-tag">Audio</span>
          </div>
          <div class="espai-w-two-panel--block__image">
            <img src="/assets/espai-w-1.png" />
          </div>
          <div class="espai-w-two-panel--block__title">
             <a href="/espai-w-fitxa">
              <p class="italic">
                Són els microorganismes els que tindran l'última paraula
              </p>
              <p>Nyamnyam</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 item">
        <div class="espai-w-two-panel--block">
          <div class="espai-w-two-panel--block__tags">
            <span class="type-tag">Video</span>
            <span class="type-tag">Entrevista</span>
          </div>
          <div class="espai-w-two-panel--block__image">
            <img src="/assets/espai-w-2.png" />
          </div>
          <div class="espai-w-two-panel--block__title">
            <a href="/espai-w-fitxa">
              <p class="italic">NeuroXcape: the Role Play Game</p>
              <p>NeuroDungeon</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 item">
        <div class="espai-w-two-panel--block">
          <div class="espai-w-two-panel--block__tags">
            <span class="type-tag">Video</span>
            <span class="type-tag">Entrevista</span>
          </div>
          <div class="espai-w-two-panel--block__image">
            <img src="/assets/espai-w-2.png" />
          </div>
          <div class="espai-w-two-panel--block__title">
            <p class="italic">NeuroXcape: the Role Play Game</p>
            <p>NeuroDungeon</p>
          </div>
        </div>
      </div>
       <div class="col-md-6 item">
        <div class="espai-w-two-panel--block">
          <div class="espai-w-two-panel--block__tags">
            <span class="type-tag">Video</span>
            <span class="type-tag">Entrevista</span>
          </div>
          <div class="espai-w-two-panel--block__image">
            <img src="/assets/espai-w-2.png" />
          </div>
          <div class="espai-w-two-panel--block__title">
            <p class="italic">NeuroXcape: the Role Play Game</p>
            <p>NeuroDungeon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
