<div class="espai-w-two-panel bg-grey">
  <div class="container">
    <div class="row borders bt-0 top-row title-row-w-two-panel">
      <div class="col-md-9">
        <h3>ESPAI W</h3>
      </div>
      <div class="col-md-3">
        <div class="plus-btn small">
          <a href="/espai-w"> Veure tot</a>
        </div>
      </div>
    </div>
    <div class="row borders bt-0">
      <div class="col-md-6 br-only item">
        <div class="espai-w-two-panel--block">
          <div class="espai-w-two-panel--block__tags">
            <span class="type-tag">Audio</span>
          </div>
          <div class="espai-w-two-panel--block__image">
            <img src="/assets/espai-w-1.png" />
          </div>
          <div class="espai-w-two-panel--block__title">
            <p class="italic">
              Són els microorganismes els que tindran l'última paraula
            </p>
            <p>Nyamnyam</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 item">
        <div class="espai-w-two-panel--block second-block">
          <div class="espai-w-two-panel--block__tags">
            <span class="type-tag">Video</span>
            <span class="type-tag">Entrevista</span>
          </div>
          <div class="espai-w-two-panel--block__image">
            <img src="/assets/espai-w-2.png" />
          </div>
          <div class="espai-w-two-panel--block__title">
            <p class="italic">NeuroXcape: the Role Play Game</p>
            <p>NeuroDungeon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
