<div class="container hero-inner no-image">
  <div class="borders row bt-0">
    <div class="row row-text-hero-inner justify-content-between">
      <div class="col col-lg-7">
          <p>La Capella està ubicada al barri del Raval de Barcelona, al centre històric de la ciutat. És un dels barris més turístics, vius i canviants de Barcelona.</p>
      </div>
      <div class="col-lg-2">
        link
      </div>
    </div>
  </div>
</div>