<div class="container hero-inner">
  <div class="borders row bt-0 bb-0">
    <div class="row">
      <div class="col col-lg-11">
          <p>La Capella és l'espai que l'Institut de Cultura de Barcelona dedica a la creació emergent. Durant els darrers anys la seva activitat s'ha centrat en l'organització d'exposicions amb la finalitat d'apropar al públic les propostes més innovadores dels artistes de la ciutat. Barcelona Producció, que es va iniciar el 2006, ara és el projecte central de la programació de La Capella. L'objectiu que persegueix és potenciar la participació dels artistes i professionals del sector, seleccionats per un jurat independent a partir de convocatòries públiques.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/assets/hero-inner.jpg" alt="">
      </div>
    </div>
    <div class="links">
      <div class="borders bl-0">
        <a href="/espais">
          Espais
        </a>
      </div>
      <div class="borders bl-0">
        <a href="/espais">
          Espais
        </a>
      </div>
      <div class="borders bl-0">
        <a href="/espais">
          Espais
        </a>
      </div>
      <div class="borders bl-0">
        <a href="/espais">
          Espais
        </a>
      </div>
      <div class="borders bl-0">
        <a href="/espais">
          Espais
        </a>
      </div>
    </div>
  </div>
</div>