<div class="container highlight-two-cols">
  <div class="row borders bb-0 item-highlighted">
    <div class="col-lg-7 col-text">
      <h2>Programes d’estudis</h2>
      <p>Modalitat de mediació de dos anys de duració. Voluntat per potenciar una mediació d’autoria pròpia i consolidar altres línies més estables des de la pròpia institució. Amb programes vinculats al barri del Raval com Apadrina el teu equipament, Estius educatius o el festival Raval(s). </p>
      <div class="plus-btn big with-text">
        <a href=""></a><span>Veure més</span>
      </div>
    </div>
    <div class="col-lg-5 bl-1">
      <div class="slider slider-programs">
        <div class="owl-carousel">
          <div class="slide-view-mode">
            <h3>Morir guai. Rituals de transició <br/>ALEXANDRA LAUDO</h3>
            <div class="image">
              <img src="/assets/carousel-highlight.jpg" alt="">
            </div>
          </div>
          <div class="slide-view-mode">
            <h3>Morir guai. Rituals de transició <br/>ALEXANDRA LAUDO</h3>
            <div class="image">
              <img src="/assets/carousel-highlight.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row borders bb-0 not-highlighted">
    <div class="col-lg-5 col-text ">
      <h2>Mediacio</h2>
      <p>Modalitat de mediació de dos anys de duració. Voluntat per potenciar una mediació d’autoria pròpia i consolidar altres línies més estables des de la pròpia institució. Amb programes vinculats al barri del Raval com Apadrina el teu equipament, Estius educatius o el festival Raval(s). </p>
      <div class="plus-btn big with-text">
        <a href=""></a><span>Veure més</span>
      </div>
    </div>
    <div class="col-lg-7 bl-1">
      <div class="slider slider-programs">
        <div class="owl-carousel">
          <div class="slide-view-mode">
            <h3>What the Cell! Una mirada macro a la unitat de la vida<br/> Un projecte de Teresa Rubio</h3>
            <div class="image">
              <img src="/assets/carousel-highlight.jpg" alt="">
            </div>
          </div>
          <div class="slide-view-mode">
            <h3>Morir guai. Rituals de transició <br/>ALEXANDRA LAUDO</h3>
            <div class="image">
              <img src="/assets/carousel-highlight.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row borders not-highlighted">
    <div class="col-lg-5 col-text bl-1 ">
      <h2>Concèntric</h2>
      <p>Modalitat de mediació de dos anys de duració. Voluntat per potenciar una mediació d’autoria pròpia i consolidar altres línies més estables des de la pròpia institució. Amb programes vinculats al barri del Raval com Apadrina el teu equipament, Estius educatius o el festival Raval(s). </p>
      <div class="plus-btn big with-text">
        <a href=""></a><span>Veure més</span>
      </div>
    </div>
    <div class="col-lg-7 ">
      <div class="slider slider-programs">
        <div class="owl-carousel">
          <div class="slide-view-mode">
            <h3>Morir guai. Rituals de transició <br/>ALEXANDRA LAUDO</h3>
            <div class="image">
              <img src="/assets/carousel-highlight.jpg" alt="">
            </div>
          </div>
          <div class="slide-view-mode">
            <h3>Morir guai. Rituals de transició <br/>ALEXANDRA LAUDO</h3>
            <div class="image">
              <img src="/assets/carousel-highlight.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
