<div class="container highlight-two-cols">
  <div class="row borders item-highlight">
    <div class="col-lg-8">
      <h2>ProgramES d’estudis</h2>
      <p>Modalitat de mediació de dos anys de duració. Voluntat per potenciar una mediació d’autoria pròpia i consolidar altres línies més estables des de la pròpia institució. Amb programes vinculats al barri del Raval com Apadrina el teu equipament, Estius educatius o el festival Raval(s). </p>
    </div>
    <div class="col-lg-4 bl-1">
      <h3>Morir guai. Rituals de transició 
ALEXANDRA LAUDO</h3>
    </div>
  </div>

  <div class="row borders">
    <div class="col-lg-8">
      <h2>ProgramES d’estudis</h2>
      <p>Modalitat de mediació de dos anys de duració. Voluntat per potenciar una mediació d’autoria pròpia i consolidar altres línies més estables des de la pròpia institució. Amb programes vinculats al barri del Raval com Apadrina el teu equipament, Estius educatius o el festival Raval(s). </p>
    </div>
    <div class="col-lg-4 bl-1">
      <h3>Morir guai. Rituals de transició 
ALEXANDRA LAUDO</h3>
    </div>
  </div>

</div>