<div class="list-espais">
  <div class="container">
    <div class="row borders bt-0">
      <div class="row">
        <div class="col-lg-8">
          <h2>espai</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis exercitationem fugiat quidem, sapiente error blanditiis quaerat rerum delectus asperiores voluptatibus molestias repellat temporibus necessitatibus quae modi, quis illo laborum sit.</p>
        </div>
        <div class="col-lg-4">
          <img src="/assets/foto-espai.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row borders bt-0">
      <div class="row">
        <div class="col-lg-8">
          <h2>espai</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis exercitationem fugiat quidem, sapiente error blanditiis quaerat rerum delectus asperiores voluptatibus molestias repellat temporibus necessitatibus quae modi, quis illo laborum sit.</p>
        </div>
        <div class="col-lg-4">
          <img src="/assets/foto-espai.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>