<div class="publications-three-panel">
  <div class="container">
    <div class="row">
      <div class="filters">
        <form action="">
          <div class="form-item form-radios">
            <div>
              <label class="custom-radio">Tot
                <input type="radio" checked="checked" name="filter">
                <span class="checkmark"></span>
              </label>
            </div>
            <div>
              <label class="custom-radio">Texto
                <input type="radio" checked="checked" name="filter">
                <span class="checkmark"></span>
              </label>
            </div>
           <div>
              <label class="custom-radio">Entrevista
                <input type="radio" checked="checked" name="filter">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="custom-select">
            <select name="select">
              <option value="value1" selected>2023</option>
              <option value="value2">2022</option>
              <option value="value3">2021</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-md-4 borders">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-1.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
      <div class="col-md-4 borders">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-2.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
      <div class="col-md-4 borders">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-3.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
      <div class="col-md-4 borders bt-0">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-3.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
      <div class="col-md-4 borders bt-0">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-3.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
    </div>
  </div>
</div>
