<div class="list-agenda">
  <div class="container">
    <div class="row borders bt-0 title-filter">
      <div class="col">Filtres:</div>
    </div>
    <div class="row borders bt-0 bb-0">
      <div class="col">
        <div class="filters">
        <form action="">
          <div>
              <div class="form-item form-radios">
              <div>
                <label class="custom-radio">Tot
                  <input type="radio" checked="checked" name="filter">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="custom-radio">Actuals
                  <input type="radio" checked="checked" name="filter">
                  <span class="checkmark"></span>
                </label>
              </div>
            <div>
                <label class="custom-radio">Futures
                  <input type="radio" checked="checked" name="filter">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="custom-radio">Anteriors
                  <input type="radio" checked="checked" name="filter">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="form-item form-radios">
              <div>
                <label class="custom-radio">Tot
                  <input type="radio" checked="checked" name="filter">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="custom-radio">Exposicions
                  <input type="radio" checked="checked" name="filter">
                  <span class="checkmark"></span>
                </label>
              </div>
            <div>
                <label class="custom-radio">Activitats
                  <input type="radio" checked="checked" name="filter">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="custom-select">
            <select name="select">
              <option value="value1" selected>2023</option>
              <option value="value2">2022</option>
              <option value="value3">2021</option>
            </select>
          </div>
        </form>
      </div>
      </div>
    </div>
    <div class="row bt-0 bb-0 br-0">
      <div class="col-lg-4 borders bt-0">
        <div class="des-slide node-slide">
            <a href="/project-page-1">
              <div class="des-slide--img">
                <img src="/assets/des-slide-1.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
      </div>
      <div class="col-lg-4 borders bt-0">
        <div class="des-slide node-slide">
            <a href="/project-page-1">
              <div class="des-slide--img">
                <img src="/assets/des-slide-1.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
      </div> 
       <div class="col-lg-4 borders bt-0">
        <div class="des-slide node-slide">
            <a href="/project-page-1">
              <div class="des-slide--img">
                <img src="/assets/des-slide-1.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
      </div> 
       <div class="col-lg-4 borders bt-0">
        <div class="des-slide node-slide">
            <a href="/project-page-1">
              <div class="des-slide--img">
                <img src="/assets/des-slide-1.jpg" />
                <div class="des-slide--tags">
                  <span> Exposició </span>
                  <span> 27.25—07.2015 </span>
                </div>
              </div>
              <div class="des-slide--text">
                <p>Anna Moreno</p>
                <p class="italic">The drowned giant</p>
              </div>
              <div class="des-slide--footer">
                <p>Festival LOOP 2021</p>
              </div>
            </a>
          </div>
      </div> 
    </div>
</div>
</div>
