<div class="home-top-slider">
  <div class="container">
    <div class="row borders bt-0 br-0">
      <div class="owl-carousel">
        <div class="slide">
          <div class="col-md-12 px-0">
            <div class="row">
              <div class="col-md-7">
                <div class="slide--img">
                  <img src="/assets/slide-image.jpg" />
                </div>
              </div>
              <div class="col-md-5 px-0">
                <div class="slide--text">
                  <h3 class="slide__title italic br-only">
                    Apocalipsi entre amics o el dia simplement
                  </h3>
                  <h3 class="slide__author br-only">Julián Pacomio</h3>
                  <div class="slide__footer">
                    <p>Exposició — 27.25—07.2015 Sala Capella</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="col-md-12 px-0">
            <div class="row">
              <div class="col-md-7">
                <div class="slide--img">
                  <img src="/assets/slide-image.jpg" />
                </div>
              </div>
              <div class="col-md-5 px-0">
                <div class="slide--text">
                  <h3 class="slide__title italic br-only">
                    Apocalipsi entre amics o el dia simplement
                  </h3>
                  <h3 class="slide__author br-only">Julián Pacomio</h3>
                  <div class="slide__footer">
                    <p>Exposició — 27.25—07.2015 Sala Capella</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="col-md-12 px-0">
            <div class="row">
              <div class="col-md-7">
                <div class="slide--img">
                  <img src="/assets/slide-image.jpg" />
                </div>
              </div>
              <div class="col-md-5 px-0">
                <div class="slide--text">
                  <h3 class="slide__title italic br-only">
                    Apocalipsi entre amics o el dia simplement
                  </h3>
                  <h3 class="slide__author br-only">Julián Pacomio</h3>
                  <div class="slide__footer">
                    <p>Exposició — 27.25—07.2015 Sala Capella</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
