<div class="home-top-slider project-header-image-left">
  <div class="container">
    <div class="row borders bt-0">
      <div class="col-md-7">
        <div class="slide--img">
          <img src="/assets/slide-image.jpg" />
        </div>
      </div>
      <div class="col-md-5 px-md-0">
        <div class="slide--text">
          <h3 class="slide__title italic">
            Apocalipsi entre amics o el dia simplement
          </h3>
          <h3 class="slide__author">Julián Pacomio</h3>
          <div class="slide__footer">
            <p>Exposició — 27.25—07.2015 Sala Capella</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
