<div class="publications-three-panel">
  <div class="container">
    <div class="row borders bt-0 top-row justify-content-between">
      <div class="col-md-8">
        <h3>PUBLICACIONS</h3>
      </div>
      <div class="col text-right">
        <div class="plus-btn small">
          <a href="/publicacions"> Totes les publicacions</a>
        </div>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-md-4 borders bt-0">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-1.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
      <div class="col-md-4 borders bt-0">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-2.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
      <div class="col-md-4 borders bt-0">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-3.png" />
        </div>
        <div class="publications-three-panel--text borders bt-0">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
    </div>
   
  </div>
</div>
