<div class="publications-three-panel">
  <div class="container">
    <div class="row borders bt-0 top-row">
      <div class="col-md-9">
        <h3>PUBLICACIONS</h3>
      </div>
      <div class="col-md-3">
        <a href="/" class="plus-btn"> Totes les publicacions <span></span> </a>
      </div>
    </div>
    <div class="row borders bt-0 bb-0">
      <div class="col-md-4 br-only">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-1.png" />
        </div>
      </div>
      <div class="col-md-4 br-only">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-2.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="publications-three-panel--image">
          <img src="/assets/pub-3.png" />
        </div>
      </div>
    </div>
    <div class="row borders bt-0 bb-0">
      <div class="col-md-4 borders bl-0">
        <div class="publications-three-panel--text">
          <p class="italic">Anna Moreno</p>
          <p class="italic">The Drowned Giant</p>
        </div>
      </div>
      <div class="col-md-4 borders bl-0">
        <div class="publications-three-panel--text">
          <p class="italic">Cloe Massota</p>
          <p class="italic">Haurem de trobar un lloc on trobar-nos</p>
        </div>
      </div>
      <div class="col-md-4 borders bl-0 br-0">
        <div class="publications-three-panel--text">
          <p class="italic">vint-i-cinc anys de la capella</p>
        </div>
      </div>
    </div>
  </div>
</div>
