<div class="tags-and-socials">
  <div class="row">
    <div class="col tags-col">
      <ul>
        <li>
          <a href="/">Barcelona Producció 2021-2022</a>
        </li>
        <li>
          <a href="/">Rubén Verdú</a>
        </li>
        <li><a href="/">Christian Alonso</a></li>
        <li><a href="/">Mary Maggic</a></li>
        <li><a href="/">Angela Melitopoulos</a></li>
        <li><a href="/">Maurizio Lazzarato</a></li>
        <li><a href="/">Eduard Ruiz</a></li>
        <li><a href="/">Tue Greenfort</a></li>
        <li><a href="/">Vicky Benítez</a></li>
        <li><a href="/">Pluriversal Radio</a></li>
        <li><a href="/">Llapispanc</a></li>
        <li><a href="/">Nien Boots</a></li>
        <li><a href="/">Olga Olivera-Tabeni</a></li>
        <li><a href="/">Oficina de relació interespècies</a></li>
      </ul>
    </div>
    <div class="col socials-col">
      <ul>
        <li><a href="/">FB</a></li>
        <li><a href="/">IG</a></li>
      </ul>
    </div>
  </div>
</div>
