<div class="two-panel-production">
  <div class="container">
    <div class="row borders bt-0">
      <div class="col-md-9">
        <h3>BARCELONA PRODUCCIÓ</h3>
      </div>
    </div>
    <div class="row borders bt-0">
      <div class="col-md-6 br-only">
        <div class="two-panel-production--text">
          <p>
            Barcelona Producció és un programa que té com a objectiu incentivar
            la producció en l’àmbit de les pràctiques artístiques
            contemporànies. Promou la participació d’artistes, comissaris,
            crítics, investigadors i altres professionals centrats en l’art i la
            cultura contemporània a través d’una convocatòria oberta i una
            selecció de projectes efectuada per un jurat independent.
          </p>
          <p>
            <a href="/" class="plus-btn"><span></span></a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="two-panel-production--image">
          <img src="/assets/prod-sticker.png" />
        </div>
      </div>
    </div>
  </div>
</div>
