<div class="two-panel-production">
  <div class="container">
    <div class="row borders bt-0 title-row-two-panel-production">
      <div class="col-md-9">
        <h3>BARCELONA PRODUCCIÓ</h3>
      </div>
    </div>
    <div class="row borders bt-0 row-info">
      <div class="col-md-6 br-only">
        <div class="two-panel-production--text">
          <p>
            Barcelona Producció és un programa que té com a objectiu incentivar
            la producció en l’àmbit de les pràctiques artístiques
            contemporànies. Promou la participació d’artistes, comissaris,
            crítics, investigadors i altres professionals centrats en l’art i la
            cultura contemporània a través d’una convocatòria oberta i una
            selecció de projectes efectuada per un jurat independent.
          </p>
        </div>
        <div class="plus-btn big with-text">
            <a href="/"></a><span>Veure més</span>
          </div>
      </div>
      <div class="col-md-6">
        <div class="two-panel-production--image">
          <img src="/assets/prod-sticker.png" />
        </div>
      </div>
    </div>
    <div class="row borders more-links bt-0 bb-0">
      <h3>Linies / programas</h3>
      <div class="links">
        <div class="borders bl-0 bb-0">
          <a href="/"> Exposició individual <br/>Espai Capella </a>
        </div>
        <div class="borders bl-0 bb-0">
          <a href="/"> Exposició Comissariat <br/> Espai Capella </a>
        </div>
        <div class="borders bl-0 bb-0">
          <a href="/"> Exposició Individual <br/> Espai Rampa </a>
        </div>
         <div class="borders bl-0 bb-0">
          <a href="/"> Exposició Individual <br/> Espai Rampa </a>
        </div>
         <div class="borders bl-0 bb-0">
          <a href="/"> Exposició Individual <br/> Espai Rampa </a>
        </div>
         <div class="borders bl-0 bb-0">
          <a href="/"> Exposició Individual <br/> Espai Rampa </a>
        </div>
         <div class="borders bl-0">
          <a href="/"> Exposició Individual <br/> Espai Rampa </a>
        </div>
        <div class="borders bl-0"></div>
        <div class="borders bl-0"></div>
        <div class="borders bl-0"></div>
        <div class="borders bl-0"></div>
        <div class="borders bl-0 br-0"></div>
      </div>
    </div>
  </div>
</div>
