// BASE -----

body {
  color: #000;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  display: none;
}

.bg-grey {
  background: #d9d9d9;
  .borders{
    &:before,  &:after{
      border-color:#d9d9d9!important;
    }
  }
  input{
    background-color:#d9d9d9;
  }
  .nav--main-nav .wrapper-menu{
    background-color:#d9d9d9;
  }
  #breadcrumb ol li a{
    background-color:#fff;
  }
  #breadcrumb ol li:last-child a{
    background-color:#000;
  }
  .nav.main-menu{
    background-color:#d9d9d9;
  }
}

.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

// EFFECTS / BORDERS ------
.borders {
  border: 1px solid #000;
  padding: 10px;
  position: relative;
  &:before {
    content: "";
    width: calc(100% + 5px);
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    height: 15px;
    top: -2px;
    left: -2px;
    position: absolute;
    display: block;
  }
  &:after {
    content: "";
    width: calc(100% + 5px);
    // width: 100%;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    height: 15px;
    bottom: -2px;
    left: -2px;
    position: absolute;
    display: block;
  }
  &.bt-0 {
    border-top: 0;
  }
  &.br-0 {
    border-right: 0;
  }
  &.bb-0 {
    border-bottom: 0;
  }
  &.bl-0 {
    border-left: 0;
  }
}

.br-only {
  position: relative;
  padding: 10px;
  &:after {
    content: "";
    border-right: 1px solid #000;
    right: -23px;
    top: -10px;
    width: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
  }
}

// BUTTONS ----

@mixin btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
}

@mixin btnPrimary {
  padding: 12px 10px 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

@mixin btnPrimaryHover {
  color: #fff;
  background-color: #000;
}

.btn {
  @include btn;
  &.btn-primary {
    @include btnPrimary;
    &:hover,
    &:focus {
      @include btnPrimaryHover;
    }
  }
}

.btn-wrapper {
  &.primary-wrapper {
    a {
      @include btn;
      @include btnPrimary;
      &:hover,
      &:focus {
        @include btnPrimaryHover;
      }
    }
  }
}

.toggle-btn {
  span {
    font-size: 20px;
    font-family: 'm-bold';
  }
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
    img {
      padding-left: 5px;
      transform: rotate(45deg);
      transition: .15s ease-in-out transform;
    }
    &.open {
      img {
        transform: rotate(0);
      }
    }
}

.plus-btn{
  font-size:20px;
  line-height:22px;
  margin-right:20px;
  margin-top:5px;
  a{
    background-image:url('../assets/cross-btn.svg');
    background-repeat: no-repeat;
    background-position: right center;
    transition: all 0.3s;
  }
  
  &.with-text{
    a{
      background-position: center center;
    }
    margin-top:70px;
    span{
      display:none;
      padding-left:20px;
    }
    &:hover{
      span{
        display:inline-block;
      }
    }
  }
  
  &.big{
    &:hover{
      a{
        background-image:url('../assets/corss-btn-hover.svg');
        background-position: right 1px center 1px;
      }
    }
    a{
      padding:50px;
      background-size:90px 90px;
    }
  }
  &.medium{
    padding-right:50px;
  }
  &.small{
    &:hover{
      a{
        background-image:url('../assets/corss-btn-hover.svg');
        background-position: right 1px center;
      }
     
    }
    a{
      padding:40px 80px 40px 0;
      background-size:60px 60px;
     
    }
    
  
  }
}

// Basic Component Styles
.page-title {
  h1 {
    font-size: 160px;
    text-transform: uppercase;
  }
}

// NAV ---------
.nav {
  .is-active {
    color: #ff4040 !important;
  }
  .row {
    justify-content: space-between;
    align-items: center;
  }
  ul:not(.contextual-links) {
    display: flex;
    align-items: center;
    &.dropdown {
      display: none;
    }
    li {
      list-style: none;
      a {
        font-size: 22px;
        letter-spacing: 1.4px;
        text-decoration: none;
      }
      &.dd {
        position: relative;
        border-top: 1px solid transparent;
        &:hover {
          ul.dropdown {
            display: block;
            position: absolute;
            left: -1px;
            background-color: #fff;
            padding-left: 0;
            top: 28px;
            z-index: 90;
            li {
              border-right: none;
              width: 100%;
              padding-right: 2rem;
              padding-bottom: 1rem;
            }
          }
          &:after {
            z-index: 100;
            position: absolute;
            background: #fff;
            width: 100%;
            height: 1px;
            top: 28px;
            content: "";
            left: 0px;
          }
        }
      }
    }
  }
  &--logo {
    padding: 10px;
    a {
      text-transform: uppercase;
      font-size: 40px;
    }
  }
  &--main-nav {
    padding: 10px;
    .mobile-button {
      display: none;
    }
    li {
      margin-right: 3rem;
      &:last-child {
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
      }
    }
    .wrapper-menu {
      padding: 15px 0 15px 38px;
      display: none;
      position: absolute;
      top: 75px;
      border-bottom: 1px solid #000;
      border-top: 1px solid #000;
      z-index: 10;
      background-color: #fff;
      width: calc(100% + 2px);
      left: -1px;
      &.open-desktop {
        display: block;
      }
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.nav.main-menu{
  position:fixed!important;
  width:100%;
  background-color:#fff;
  z-index:10;
}

.page-title{
  padding-top:80px;
}

#breadcrumb {
  ol {
    padding: 1rem 0;
    display: flex;
    li,
    a {
      font-size: 16px;
    }
    li {
      padding-right: 8px;
      &:last-child {
        a {
          color: #fff;
          background: #8c8c8c;
        }
        &:after {
          padding-left: 6px;
          font-size: 16px;
        }
      }
      a {
        background-color: #dedede;
        border-radius: 12px;
        padding: 5px 8px;
        color: #707070;
      }
    }
  }
}

// Selectric Overrides
.selectric {
  background-color: #fff;
  .label {
    color: #2e2e2e;
    margin: 0 20px 0 10px;
  }
  .button {
    width: 25px;
    background-color: #fff;
  }
  &-items {
    border: 1px solid #2e2e2e;
    border-top: none;
    ul {
      display: block !important;
    }
    li {
      color: #2e2e2e;
      background-color: #fff;
      &.highlighted {
        color: #2e2e2e;
        background-color: #ceedde;
      }
      &:hover {
        background-color: #f2f6f5;
        color: #2e2e2e;
      }
    }
  }
  &-open {
    .selectric {
      border-bottom: none;
      border-color: #2e2e2e;
    }
  }
}

//FOOTER -------
footer {
  padding: 2rem 0;
  margin-top: 7rem;
  h3 {
    text-transform: uppercase;
  }
  h5 {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 8px;
  }
  .bl-special {
    border-left: 1px solid #000;
    margin-top: 15px;
    border-right: 1px solid #000;
  }
  .col-md-6 {
    border-bottom: 0;
    &:first-of-type {
      display: flex;
      align-items: flex-end;
      h3 {
        padding: 1rem;
      }
    }
    &:last-of-type {
      h3 {
        padding-bottom: 1rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #000;
        width: 94%;
        &:after {
          right: -8%;
          top: -8px;
        }
      }
    }
  }
  .col-md-3 {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &:not(:last-of-type) {
      border-right: 1px solid #000;
    }
    &:before {
      content: "";
      width: 90%;
      height: 0;
      border-top: 1px solid #000;
      top: -10px;
      left: 5%;
      position: absolute;
    }
  }
  .form form {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 50%;
      input {
        width: 90%;
        border: 0;
        border-bottom: 1px solid #000;
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;
        font-size: 28px;
        color: #7c7c7c;
        &.form-submit {
          background: transparent;
          text-align: left;
          color: #000;
        }
      }
      &:nth-of-type(odd) {
        position: relative;
        &:after {
          content: "";
          border-right: 1px solid #000;
          right: 0px;
          top: 0;
          width: 0;
          bottom: 0;
          height: 65%;
          position: absolute;
        }
      }
      &:nth-of-type(even) {
        width: 45%;
        margin-left: 1.5rem;
      }
      &.accept-legal-conditions {
        display: flex;
        align-items: center;
        .description {
          width: 80%;
          padding-left: 1rem;
          color: #7c7c7c;
          font-size: 14px;
        }
        input {
          width: auto;
        }
      }
    }
  }
  .form {
    &:after {
      right: -10px;
      top: 0px;
    }
  }
  .footer-links {
    margin: 2rem 0 1rem 0;
    ul {
      display: flex;
      li {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
      }
    }
  }
}

.views-exposed-form{
  display:none;
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 130;
  justify-content: center;
  align-items: center;
  background-color:rgba(255,255,255, 0.8);
  form{
    min-width:600px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color:#fff;
    padding:10px;
    display:flex;
    label{
      display:none;
    }
    .form-actions{
      width:80px;
    }
    .form-item{
      width:calc(100% - 80px);
    }
    input[type=text]{
      padding:10px;
      width:100%;
      border:0;
    }
    input[type=submit]{
      border:0;
      padding:10px;
      background-color:#fff;
    }
  }
  #close-form{
    position:absolute;
    top:20px;
    right:40px;
    font-size:30px;
    cursor:pointer;
  }
  &.show-form{
    
    display: flex;
  }
}

.bg-grey{
  .views-exposed-form{
    .borders{
      &:after, &:before{
        border-color:#fff!important;
      }
    }
  }
}



