@media screen and (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }

  h1,
  .page-title h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  // BORDERS -------------
  .br-only {
    &:after {
      right: 5px;
      top: -8px;
    }
  }

  // GENERAL UI ELEMENTS ---

  .content {
    p,
    ul > li,
    ol > li {
      font-size: 16px;
    }
    ul,
    ol {
      padding-left: 10px;
    }
  }

  .plus-btn {
    span {
      width: 25px;
      &:after {
        height: 25px;
        transform: translateY(-12px);
      }
    }
  }

  //  BREADCRUMB ----
  #breadcrumb {
    ol {
      padding: 0 0 1rem 0;
      li,
      a {
        font-size: 11px;
      }
    }
  }

  //  NAV -----
  .nav {
    padding: 1rem 0;
    border-bottom: none;
    position: relative;
    .container {
      display: block;
    }
    .row {
      flex-wrap: nowrap;
    }
    &--logo {
      a {
        font-size: 30px;
      }
    }
    &--lang-nav {
      display: none;
    }
    &--main-nav {
      padding: 0 10px;
      .mobile-button {
        background-color: #fff;
        z-index: 700;
        width: 44px;
        height: 35px;
        margin-left: 3.5rem;
        position: relative;
        justify-content: center;
        display: flex;
        margin-top: -5px;
        padding: 12px 1.85rem;
        span {
          height: 1px;
          width: 30px;
          background-color: #000;
          position: absolute;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
          &:after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: #000;
            width: 30px;
            left: 0;
            top: 12px;
            transition: 0.25s ease-in-out;
          }
          &:after {
            bottom: -5px;
          }
        }
        &.open {
          padding: 1.32rem 1.85rem;
          border-bottom: none;
          span {
            opacity: 1;
            top: 20px;
            height: 1px;
            -webkit-transform: rotate(132deg);
            -moz-transform: rotate(132deg);
            -o-transform: rotate(132deg);
            transform: rotate(132deg);
            &:after {
              content: "";
              opacity: 1;
              top: 0px;
              bottom: unset;
              height: 1px;
              -webkit-transform: rotate(-85deg);
              -moz-transform: rotate(-85deg);
              -o-transform: rotate(-85deg);
              transform: rotate(-85deg);
            }
          }
        }
      }
      ul:not(.contextual-links):not(.dropdown) {
        flex-direction: column;
        height: 0;
        visibility: hidden;
        li {
          border-right: none;
        }
        &.show {
          display: flex;
          height: auto;
          visibility: visible;
          width: 100vw;
          position: absolute;
          left: -20px;
          align-items: flex-start;
          margin: 0 1rem;
          z-index: 500;
          background: #fff;
          top: 69px;
          padding: 1rem 2rem;
          li {
            margin: 10px 0;
            position: relative;
            // list-style: disc;
            > a {
              font-size: 18px;
              padding-left: 1rem;
            }
            &.dd {
              &:hover {
                box-shadow: none;
                border-top: none;
              }
              &.open {
                box-shadow: none;
                border-top: none;
                &:before {
                  transform: rotate(90deg);
                }
              }
            }
          }
          ul.dropdown:not(.contextual-links) {
            display: none;
            li {
              a {
                font-size: 16px;
                padding-left: 5px;
              }
              &:before {
                content: "";
              }
              &:last-of-type {
                margin-bottom: 0;
              }
            }
            &.show {
              display: flex;
              flex-direction: column;
              position: static;
              margin-left: 0;
              border: none;
              background: transparent;
              box-shadow: none;
              position: static;
              border: none;
              background: transparent;
              box-shadow: none;
              width: auto;
              margin-right: 0;
              margin-bottom: 0;
              padding: 0;
              margin-top: 10px;
              li:last-of-type {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  // FOOTER -----
  footer {
    .contact-info {
      padding-top: 0;
      padding-bottom: 3rem;
    }
  }
  // HOME ELEMENTS ------
  .home-top-slider {
    height: auto;
    margin-bottom: 1.5rem;
    .owl-carousel {
      height: auto;
      .owl-stage-outer {
        overflow: visible;
      }
      .owl-nav {
        top: 75px;
      }
      .owl-dots {
        bottom: -60px;
      }
    }
    .row.borders {
      border: 0;
    }
    .slide {
      // overflow: hidden;
      // .col-md-7 {
      //   padding-right: 10px;
      // }
      .br-only {
        border-right: 0;
        &:after {
          border-right: 0;
        }
      }
      &--text {
        padding-right: 10px;
        padding-left: 10px;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        margin-top: 10px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          width: 95%;
          left: 9px;
          border-bottom: 1px solid #000;
        }
      }
      &__title,
      &__author {
        font-size: 20px;
      }
      &__author {
        height: 135px;
      }
      &__footer {
        padding-left: 10px;
        position: static;
      }
    }
  }

  .marquee {
    margin: 6.5rem 1rem;
    h1 {
      font-size: 50px;
      animation: scroll-x 11s linear infinite;
    }
  }

  .slider-carousel {
    margin-left: 5px;
  }
  .destaquem-slider {
    .row.borders {
      padding-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      a.plus-btn {
        font-size: 0px;
        visibility: hidden;
        span {
          visibility: visible;
        }
      }
    }
    .slide-wrapper {
      .des-slide {
        padding: 5px 15px;
        &:after {
          right: 2.5px;
        }
      }
    }
  }
  .espai-w-two-panel {
    .row.borders {
      flex-wrap: nowrap;
    }
    .col-md-6 {
      &:last-of-type {
        display: none;
      }
      &.br-only {
        &:after {
          border-right: 0;
        }
      }
    }
    &--block {
      &__tags {
        margin-bottom: 2rem;
        span.type-tag {
          font-size: 16px;
          padding: 5px 8px;
        }
      }
    }
  }
  .publications-three-panel {
    .row {
      .col-md-4 {
        &:not(:first-child) {
          display: none;
        }
        &.br-only {
          &:after {
            border-right: 0;
          }
        }
        &.borders {
          border-right: 0;
        }
      }
      &.top-row {
        padding-bottom: 15px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        a.plus-btn {
          font-size: 0px;
          visibility: hidden;
          span {
            visibility: visible;
          }
        }
      }
    }
  }

  footer {
    .row {
      &:first-of-type {
        flex-direction: column-reverse;
      }
      &.bl-special {
        border-right: 0;
        border-left: 0;
        .col-md-3 {
          width: 50%;
          margin-bottom: 1rem;
          border-right: 1px solid #000;
          &:nth-of-type(odd) {
            border-left: 1px solid #000;
          }
          &:nth-of-type(1),
          &:nth-of-type(2) {
            &:before {
              border-top: 0;
            }
          }
          &:nth-of-type(3),
          &:nth-of-type(4) {
            &:after {
              content: "";
              width: 90%;
              height: 0;
              border-top: 1px solid #000;
              bottom: -5px;
              left: 5%;
              position: absolute;
            }
          }
        }
      }
      .col-md-6 {
        &:first-of-type {
          margin-top: 1.5rem;
          border-bottom: 1px solid #000;
          border-right: 1px solid #000;
        }
      }
    }
    .form {
      form {
        display: flex;
        flex-wrap: wrap;
        > div {
          width: 45%;
          margin-right: 10px;
          input {
            font-size: 16px;
          }
          &:nth-of-type(even) {
            width: 45%;
            margin-left: 10px;
          }
          &:nth-of-type(odd) {
            &:after {
              right: -5px;
            }
          }
        }
      }
    }
    .col-md-3:not(:last-of-type) {
      border-right: 0;
    }
    .footer-links {
      ul {
        flex-wrap: wrap;
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
  // closing brakcet below this
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    .container {
      justify-content: space-between;
      .row:first-of-type {
        display: none;
      }
    }
    &--main-nav {
      ul:not(.contextual-links).show {
        width: 700px;
        left: 28px;
        top: 68px;
      }
    }
  }
}
