@media screen and (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }

  h1,
  .page-title h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  // BORDERS -------------
  .br-only {
    &:after {
      right: 5px;
      top: -8px;
    }
  }

  // GENERAL UI ELEMENTS ---

  .content {
    p,
    ul > li,
    ol > li {
      font-size: 16px;
    }
    ul,
    ol {
      padding-left: 10px;
    }
  }

  //  BREADCRUMB ----
  #breadcrumb {
    border-top: 2px solid #2e2e2e;
    ol {
      padding: 0.85rem 0;
    }
  }

  //  NAV -----
  .nav {
    padding: 2rem 0 1rem 0;
    border-bottom: none;
    position: relative;
    .container {
      display: flex;
      align-items: flex-start;
      img {
        max-width: 235px;
        padding-top: 8px;
      }
    }
    &--lang-nav {
      display: none;
    }
    &--main-nav {
      .mobile-button {
        background-color: #fff;
        z-index: 700;
        border: 1px solid #2e2e2e;
        width: 44px;
        height: 35px;
        margin-left: 3.5rem;
        position: relative;
        justify-content: center;
        display: flex;
        margin-top: -5px;
        padding: 1.5rem 1.85rem;
        span {
          height: 3px;
          width: 26px;
          background-color: #2e2e2e;
          position: absolute;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
          &:before,
          &:after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: #2e2e2e;
            width: 26px;
            left: 0;
            transition: 0.25s ease-in-out;
          }
          &:before {
            top: -10px;
          }
          &:after {
            bottom: -10px;
          }
        }
        &.open {
          padding: 1.32rem 1.85rem;
          border-bottom: none;
          span {
            opacity: 1;
            top: 23px;
            height: 3px;
            -webkit-transform: rotate(132deg);
            -moz-transform: rotate(132deg);
            -o-transform: rotate(132deg);
            transform: rotate(132deg);
            &:before {
              opacity: 0;
              right: -60px;
            }
            &:after {
              content: "";
              opacity: 1;
              top: 0px;
              bottom: unset;
              height: 3px;
              -webkit-transform: rotate(-85deg);
              -moz-transform: rotate(-85deg);
              -o-transform: rotate(-85deg);
              transform: rotate(-85deg);
            }
          }
        }
      }
      ul:not(.contextual-links):not(.dropdown) {
        flex-direction: column;
        height: 0;
        visibility: hidden;
        li {
          border-right: none;
        }
        &.show {
          display: flex;
          height: auto;
          visibility: visible;
          border: 1px solid #2e2e2e;
          width: 336px;
          position: absolute;
          left: 0px;
          margin: 0 1rem;
          z-index: 500;
          background: #fff;
          top: 69px;
          padding: 1rem;
          box-shadow: 12px 12px #2e2e2e;
          li {
            margin: 10px 0;
            position: relative;
            &:before {
              content: ">";
              position: absolute;
              left: 10px;
              font-family: "HN Bold";
              transition: 0.15s ease-in-out transform;
            }
            > a {
              font-size: 18px;
              font-family: "HN Bold";
              padding-left: 1rem;
            }
            &.dd {
              &:hover {
                box-shadow: none;
                border-top: none;
              }
              &.open {
                box-shadow: none;
                border-top: none;
                &:before {
                  transform: rotate(90deg);
                }
              }
            }
          }
          ul.dropdown:not(.contextual-links) {
            display: none;
            li {
              a {
                font-size: 16px;
                font-family: "HN Roman";
                padding-left: 5px;
              }
              &:before {
                content: "";
              }
              &:last-of-type {
                margin-bottom: 0;
              }
            }
            &.show {
              display: flex;
              flex-direction: column;
              position: static;
              margin-left: 0;
              border: none;
              background: transparent;
              box-shadow: none;
              position: static;
              border: none;
              background: transparent;
              box-shadow: none;
              width: auto;
              margin-right: 0;
              margin-bottom: 0;
              padding: 0;
              margin-top: 10px;
              li:last-of-type {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  // FOOTER -----
  footer {
    .contact-info {
      padding-top: 0;
      padding-bottom: 3rem;
    }
  }
  // HOME ELEMENTS ------
  .home-top-slider {
    height: auto;
    margin-bottom: 1.5rem;
    .owl-carousel {
      height: auto;
      .owl-stage-outer {
        overflow: visible;
      }
      .owl-nav {
        top: 75px;
      }
      .owl-dots {
        bottom: -45px;
      }
    }
    .slide {
      .col-md-7 {
        padding-right: 10px;
      }
      .br-only {
        &:after {
          right: 0;
        }
      }
      &--text {
        padding-right: 10px;
        padding-left: 10px;
      }
      &__title,
      &__author {
        font-size: 30px;
      }
      &__author {
        margin-bottom: 1rem;
      }
      &__footer {
        left: 20px;
      }
    }
  }

  .marquee {
    margin: 6.5rem;
    h1 {
      font-size: 50px;
    }
  }

  .slider-carousel {
    margin-left: 5px;
  }
  .destaquem-slider {
    .col-md-3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    .slide-wrapper {
      .des-slide {
        padding: 5px 15px;
        &:after {
          right: 2.5px;
        }
      }
    }
  }

  footer {
    .form {
      form {
        > div {
          width: 100%;
          &:nth-of-type(even) {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
    .col-md-3:not(:last-of-type) {
      border-right: 0;
    }
  }
  // closing brakcet below this
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    .container {
      justify-content: space-between;
      .row:first-of-type {
        display: none;
      }
    }
    &--main-nav {
      ul:not(.contextual-links).show {
        width: 700px;
        left: 28px;
        top: 68px;
      }
    }
  }
}
